<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Connected</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
	integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

	<br />
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2>
					<span th:text="${connectedUser.nom}" /> connécté(e) <a
						class="btn btn-info"
						th:href="@{addTache(idConnectedUser=${connectedUser.id_user})}">
						<i class="fas fa-user-edit"></i> Coordoonées Profil
					</a>
				</h2>
			</div>
			<br>
			<div class="container col-offset-md-1">
				<form th:action="@{index(idConnectedUser=${connectedUser.id_user})}"
					method="POST">
					<label>Mot clé :</label> <input type="text" name="mc"
						th:value="${mc}" />
					<button class="btn btn-primary">
						<i class="fas fa-search"></i> Chercher
					</button>
				</form>


			</div>
			<br>

		</div>

		<h4>Les Taches de cet utilisateur</h4>
		<br /> <a class="btn btn-primary"
			th:href="@{addTache(idConnectedUser=${connectedUser.id_user})}">
			<i class="far fa-plus-square"></i> Tache
		</a> <br>
		<div th:switch="${listTaches.size()>0}">
			<div th:case="${true}">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Texte</th>
							<th scope="col">Suppression</th>
							<th scope="col">Edition</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="tache:${listTaches}">
							<td th:text="${tache.texte}"></td>
							<td><a class="btn btn-danger"
								onclick="return confirm('Etes vous sure de supprimer cette commande ?')"
								th:href="@{suppTache(idConnectedUser=${connectedUser.id_user},id_tache=${tache.id_tache})}">
									<i class="far fa-trash-alt"></i>
							</a></td>
							<td><a class="btn btn-warning"
								th:href="@{editTache(idConnectedUser=${connectedUser.id_user},id_tache=${tache.id_tache})}">
									<i class="fas fa-edit"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<h5 class="text-danger" th:case="*">Aucune tache</h5>
		</div>
		<br>
		<div th:if="${newTache != null}">
			tache : <span class="text-info" th:text="${newTache.texte}"></span>
			ajoutée
		</div>
		<div th:if="${TacheToEdit != null}">
			tache : <span class="text-info" th:text="${TacheToEdit.texte}"></span>
			modifiée
		</div>

	</div>
</body>
</html>