<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Confirmation de l'enregistrement de la commande</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<br />
	<header>
<a class="nav-link"
					th:href="@{acceuil(idConnectedUser=${idConnectedUser})}">
						Accueil </a>
	</header>

	<br />
	<div class="container">
	
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Tache Ajoutée</h2>
			</div>
			<br />
			<div class="panel-body">
				<div>
					<label class="control-label">Son Texte :</label> 
					<label
						class="control-label" th:text="${newTache.texte}"></label>

				</div>
			</div>
		</div>
	</div>
</body>
</html>